@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

body {
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.form {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 7px 50px 2px rgba(112, 112, 112, 0.65);
  border-radius: 5px;
}

.form label {
  font-size: 14px;
  padding-bottom: 4px;
}

.form input {
  border: 1px solid rgb(176, 176, 176);
  outline: none;
  padding: 10px;
  width: 400px;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
}

.form button {
  background-color: rgb(0, 127, 239);
  color: white;
  border: none;
  width: 100%;
  padding: 12px 0;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 20px;
}

table {
  margin-top: 50px;
  width: 800px;
}
